.viewer-pane {
  @include pane-containers;
  .viewer-content {
    align-items: center;
    display: flex;
    height: 100%;
    min-width: 500px;
    overflow: hidden;
    position: relative;
    width: 100%;
    .base-ui {
      height: 100%;
      width: 100%;
    }
  }

  > div {
    background: none !important;
  }
}
