@import '../utils/variables';
.search-pane {
  @include pane-containers;
  .left-pane {
    @include inline-flex($jc-value: initial, $width: fit-content);
    i {
      color: $mild-dark;
      font-size: 22px;
    }
    .language-selector {
      align-items: center;
      display: inline-flex;
      justify-content: space-between;
      label {
        align-items: center;
        display: inline-flex;
        padding: 0 2px;
      }
    }
  }
  .search-type {
    label {
      align-items: center;
      display: inline-flex;
      padding: 0 2px;
    }
  }
  .search-result-controls {
    @include flex;

    font-style: italic;
    padding: 0 0 0 10px;

    & span {
      color: $mild-dark;
    }

    .filters {
      color: $mild-dark;
      padding-right: 12px;

      .select-bani {
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: transparent;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28255, 128, 47%29'></polygon></svg>");
        background-origin: content-box;
        background-position: right -1rem center;
        background-repeat: no-repeat;
        background-size: 15px 10px;
        border: none;
        border-radius: 0;
        color: #0a0a0a;
        font-family: inherit;
        font-size: 1rem;
        height: 40px;
        margin: 0;
        padding: 0.5rem;
        padding-right: 1.5rem;
        width: 0;

        &:disabled {
          background-color: #eee;
        }
        &:focus {
          outline: none;
        }
        label {
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
            Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          -webkit-font-smoothing: antialiased;
          font-style: italic;
          font-weight: 400;
        }
      }
      select {
        option {
          font-style: initial;
        }
      }
    }
  }
  .search-select {
    width: 53%;

    select {
      cursor: pointer;
      width: 100%;
    }
  }

  .search-content {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
    @include flex;

    margin: 0;
    width: 100%;
    .input-buttons {
      align-items: center;
      display: flex;
      height: 40px;
    }
    span {
      align-self: center;
    }

    input {
      background: transparent;
      border: none;
      box-shadow: none;
      display: inline-block;
      flex-grow: 1;
      height: 40px;
      margin: 0;
      padding: 0 8px;
      position: relative;
      width: max-content;

      &::-webkit-input-placeholder {
        color: $black;
        font-family: $body-font-family;
        font-size: 0.8em;
      }
    }
  }
  .search-results {
    height: 300px;
  }
  .search-footer {
    @include flex($ai-value: start, $jc-value: initial, $width: 99%);

    font-size: 14px;
    margin-bottom: 5px;
    padding: 10px;
    span {
      @include inline-flex($width: initial);

      border-left: 3px solid;
      height: 20px;
      padding: 5px;
    }
    .search-footer-span1 {
      color: #e1802f;
    }
    .search-footer-span2 {
      color: #348ce7;
    }
    .search-footer-span3 {
      color: #65a757;
    }
    .search-footer-span4 {
      color: #717171;
    }
  }
}

.bani-words {
  margin: 0 2px !important;
  &.highlight {
    font-weight: bold;
  }
}
